{% extends 'definitions/base_definitions.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/definitions.css' %}">

    <div class="dicts-list">
        {% for dict in dictionaries %}
            <div class="dict-container" id="{{ dict.slug }}">

                <div class="dict-header">
                    <div class="about-dict">
                        Название: <span>{{ dict }}</span>
                    </div>
                    <div>
                        <img class="delete-dict" src="{% static 'images/delete.svg' %}" alt="">
                        <img class="edit-dict" src="{% static 'images/edit.svg' %}" alt="">
                        <button class="save-edited-dict btn btn-success" style="display: none;">Сохранить</button>
                    </div>
                </div>

                <div class="words-list" style="display: none;">
                    {% for word in dict.words.iterator %}
                        <div class="word-container" id="{{ word.slug }}">
                            <div class="word-field">
                                <span>{{ word.value }}</span>
                                <br>
                                <span>{{ word.definition }}</span>
                            </div>
                            <div class="edit-word-field" style="display: none;">
                                <img class="delete-word" src="{% static 'images/delete.svg' %}" alt="">
                                <img class="edit-word" src="{% static 'images/edit.svg' %}" alt="">
                                <button class="save-edited btn btn-success" style="display: none;">Сохранить</button>
                            </div>
                        </div>
                    {% endfor %}

                    <button class="open-form-btn btn btn-primary mt-2">Добавить новое слово</button>
                    <form class="form-inline mt-2 " style="display: none;" action="">
                        <input class="form-control mr-2" type="text" name="value" placeholder="Значение">
                        <textarea maxlength="500" rows=5 cols=50 class="form-control mt-4 mr-2" name="definition" editable="false" placeholder="Описание"></textarea>

                        <button class="btn btn-success add-word-btn">Добавить</button>
                    </form>

                </div>
            </div>
        {% endfor %}
        <button id="open-create-dict-form" class="btn btn-primary mt-4 mb-4">Создать новый словарь</button>
        <form id="create-dict-form" action="{% url 'create_dict_definition_url' %}" style="display: none;" method="POST">
            {% csrf_token %}
            {{ create_dict_form.as_p }}
            <button class="btn btn-success">Создать</button>
        </form>
    </div>

    <script type="module" src="{% static 'scripts/definitions.js' %}"></script>
{% endblock %}