* {
    margin: 0;
    padding: 0;
}
body {
}

textarea {
    width: 90%;
    height: 200px;
    resize: none;
}

.wrapper {

}

.navbar {
    margin-top: 0;
}

.dicts-list {
    width: 70%;
    height: 100%;
    margin: 20px auto 0 auto;
    padding: 20px;
}

.dict-container {
    border: 1px solid grey;
    border-radius: 5px;
    z-index: 10;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
}

.words-list {
    margin-top: 10px;
}

.word-list-header,
.word-field {
    width: 100%;
    min-height: 40px;
    border: 1px solid grey;
    padding: 10px;
}

.edit-word-field {
    height: 50px;
    padding: 5px;
    border: 1px solid grey;
    border-top: 0;
}

.dict-header img,
.edit-word-field img{
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.save-edited {
    float: right;
    display: none;
}

.dict-header {
    z-index: 5;
    display: flex;
    justify-content: space-between;

}

.dict-header span,
.dict-header input {
    max-width: 500px;
}

select {
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

/** Switch **/

input[type="checkbox"] {
    width: 80px;
    height: 30px;
    background: #bdc3c7;
    -webkit-appearance: none;
    border-radius: 20px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background: #0067D4;
}

input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50px;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: .4s;

}

input:checked[type="checkbox"]::before {
    left: 50px;
}

.toggle {
    position: relative;
    display: inline;
}


label {
    margin-top: 10px;
    position: absolute;
    color: #fff;
    font-weight: 30px;
    font-size: 15px;
    pointer-events: none;
}


.onbtn {
    bottom: 1px;
    left: 10px;
}

.offbtn {
    bottom: 1px;
    right: 10px;
    color: #34495e;
}