{% extends 'dict/base_dict.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/dict.css' %}">

    <div class="dicts-list">
        {% for dict in dictionaries %}
            <div class="dict-container" id="{{ dict.slug }}">
                <p>{{ dict }}</p>
                <div class="words-list" style="display: none;">
                    <div class="dict-header">
                        <span>Слово</span>
                        <span>Транскрипция</span>
                        <span>Перевод</span>
                    </div>
                    {% for word in dict.words.iterator %}
                        <div class="word-container" id="{{ word.slug }}">
                            <div class="word-field">
                                <span>{{ word.value }}</span>
                                <span>{{ word.transcription }}</span>
                                <span>{{ word.translation }}</span>
                            </div>
                            <div class="edit-word-field" style="display: none;">
                                <img class="delete-word" src="{% static 'images/delete.svg' %}" alt="">
                                <img class="edit-word" src="{% static 'images/edit.svg' %}" alt="">
                            </div>
                        </div>
                    {% endfor %}

                    <button id="open-form-btn" class="btn btn-primary mt-2">Добавить новое слово</button>
                    <form class="form-inline mt-2 " style="display: none;" action="">
                        <input class="form-control mr-2" type="text" id="value" placeholder="Значение">
                        <input class="form-control mr-2" type="text" id="transcription" placeholder="Транскрипция">
                        <input class="form-control mr-2" type="text" id="translation" placeholder="Перевод">

                        <button class="btn btn-success add-word-btn">Добавить</button>
                    </form>

                </div>
            </div>
        {% endfor %}
        <button id="open-create-dict-form" class="btn btn-primary mt-4 mb-4">Создать новый словарь</button>
        <form id="create-dict-form" action="{% url 'create_dict_url' %}" style="display: none;" method="POST">
            {% csrf_token %}
            {{ create_dict_form.as_p }}
            <button class="btn btn-success">Создать</button>
        </form>
    </div>

    <script src="{% static 'scripts/dict.js' %}"></script>
{% endblock %}
