{% extends 'dict/base_dict.html' %}
{% load static %}
{% load my_tags %}

{% block content %}
    <link rel="stylesheet" href="{% static 'styles/dict.css' %}">

    <div class="dicts-list">

        <div class="sort sort-dicts mt-3">
            <span>Sort by</span>
            <div class="sorted-fields">
                <a href="?dicts_order_by={% set_correct_order_dicts 'language' request %}">
                    language
                </a>
                <a href="?dicts_order_by={% set_correct_order_dicts 'date_create' request %}">
                    date create
                </a>
                <a href="?dicts_order_by={% set_correct_order_dicts 'title' request %}">
                     title
                </a>
            </div>
        </div>

        {% for dict in dictionaries.iterator %}
            <div class="dict-container" id="{{ dict.slug }}">

                <div class="dict-header">
                    <div class="about-dict">
                            Название: <span>{{ dict }}</span>
                        {% if dict.language %}
                            Язык: <span >{{ dict.language }}</span>
                        {% endif %}
                    </div>
                    <div>
                        <img class="delete-dict" src="{% static 'images/delete.svg' %}" alt="">
                        <img class="edit-dict" src="{% static 'images/edit.svg' %}" alt="">

                        <button class="save-edited-dict btn btn-success" style="display: none;">Сохранить</button>
                    </div>
                </div>

                <div class="words-list" style="display: none;">
                    <div class="word-list-header">
                        <span>Слово</span>
                        <span>Транскрипция</span>
                        <span>Перевод</span>
                    </div>

                    <div class="sort-words mt-3">
                        <span>Sort by</span>
                        <div class="sorted-fields">
                            <a href="?dict={{ dict.slug }}&order_by={% set_correct_order_words 'color' request %}">
                                color
                            </a>
                            <a href="?dict={{ dict.slug }}&order_by={% set_correct_order_words 'date_create' request %}">
                                date create
                            </a>
                            <a href="?dict={{ dict.slug }}&order_by={% set_correct_order_words 'value' request %}">
                                 value
                            </a>
                        </div>
                    </div>


                    {% if request.GET.dict == dict.slug and request.GET.dict and dict.slug %}
                        {% for word in dict.words|order_by:request.GET.order_by%}
                            <div class="word-container" id="{{ word.slug }}" style="background: {{ word.color }};">
                                <div class="word-field">
                                    <span class="value">{{ word.value }}</span>
                                    <span class="transcription">{{ word.transcription }}</span>
                                    <span class="translation">{{ word.translation }}</span>
                                </div>
                                <div class="edit-word-field" style="display: none;">
                                    <img class="delete-word" src="{% static 'images/delete.svg' %}" alt="">
                                    <img class="edit-word" src="{% static 'images/edit.svg' %}" alt="">

                                    <button class="save-edited btn btn-success">Сохранить</button>

                                    <div class="color-select mr-2" style="display: none">
                                        {% include 'includes/colors.html' %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for word in dict.words.iterator %}
                            <div class="word-container" id="{{ word.slug }}" style="background: {{ word.color }};">
                                <div class="word-field">
                                    <span class="value">{{ word.value }}</span>
                                    <span class="transcription">{{ word.transcription }}</span>
                                    <span class="translation">{{ word.translation }}</span>
                                </div>
                                <div class="edit-word-field" style="display: none;">
                                    <img class="delete-word" src="{% static 'images/delete.svg' %}" alt="">
                                    <img class="edit-word" src="{% static 'images/edit.svg' %}" alt="">

                                    <button class="save-edited btn btn-success">Сохранить</button>

                                    <div class="color-select mr-2" style="display: none">
                                        {% include 'includes/colors.html' %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button class="open-form-btn btn btn-primary mt-2">Добавить новое слово</button>

                    <div class="toggleBox mt-3" style="display: none;">
                        <p>Автоматический перевод</p>
                        <div class="toggle">
                            <input class="switch" type="checkbox" checked>
                            <label for="" class="onbtn">On</label>
                            <label for="" class="offbtn">Off</label>
                        </div>
                    </div>

                    <form class="form-auto mt-2 " style="display: none;" action="">
                        <p class="mt-3">
                            <select name="" class="lang-from">
                                {% include 'dict/includes/languages.html' %}
                            </select>
                            TO
                            <select name="" class="lang-to">
                                {% include 'dict/includes/languages.html' %}
                            </select>
                        </p>
                        <input class="form-control mr-2" type="text" name="value" placeholder="Значение">

                        <div class="color-select mr-2">
                            {% include 'includes/colors.html' %}
                        </div>

                        <button class="btn btn-success add-word-btn mt-3">Добавить</button>
                    </form>

                    <form class="form-manually form-inline mt-2 " style="display: none;" action="">

                        <input class="form-control mr-2" type="text" name="value" placeholder="Значение">
                        <input class="form-control mr-2" type="text" name="transcription" placeholder="Транскрипция">
                        <input class="form-control mr-2" type="text" name="translation" placeholder="Перевод">

                        <div class="color-select mr-2">
                            {% include 'includes/colors.html' %}
                        </div>

                        <button class="btn btn-success add-word-btn">Добавить</button>
                    </form>

                </div>
            </div>

        {% endfor %}
        <button id="open-create-dict-form" class="btn btn-primary mt-4 mb-4">Создать новый словарь</button>
        <form id="create-dict-form" action="{% url 'create_dict_url' %}" style="display: none;" method="POST">
            {% csrf_token %}
            {{ create_dict_form.as_p }}
            <button class="btn btn-success">Создать</button>
        </form>
    </div>

    <script type="module" src="{% static 'scripts/dict.js' %}"></script>
{% endblock %}
