<option name="az">азербайджанский</option>
<option name="ml">малаялам</option>
<option name="sq">албанский</option>
<option name="mt">мальтийский</option>
<option name="am">амхарский</option>
<option name="mk">македонский</option>
<option name="en">английский</option>
<option name="mi">маори</option>
<option name="ar">арабский</option>
<option name="mr">маратхи</option>
<option name="hy">армянский</option>
<option name="mhr">марийский</option>
<option name="af">африкаанс</option>
<option name="mn">монгольский</option>
<option name="eu">баскский</option>
<option name="de">немецкий</option>
<option name="ba">башкирский</option>
<option name="ne">непальский</option>
<option name="be">белорусский</option>
<option name="no">норвежский</option>
<option name="bn">бенгальский</option>
<option name="pa">панджаби</option>
<option name="my">бирманский</option>
<option name="pap">папьяменто</option>
<option name="bg">болгарский</option>
<option name="fa">персидский</option>
<option name="bs">боснийский</option>
<option name="pl">польский</option>
<option name="cy">валлийский</option>
<option name="pt">португальский</option>
<option name="hu">венгерский</option>
<option name="ro">румынский</option>
<option name="vi">вьетнамский</option>
<option name="ru">русский</option>
<option name="ht">гаитянский</option>
<option name="ceb">себуанский</option>
<option name="gl">галисийский</option>
<option name="sr">сербский</option>
<option name="nl">голландский</option>
<option name="si">сингальский</option>
<option name="mrj">горномарийский</option>
<option name="sk">словацкий</option>
<option name="el">греческий</option>
<option name="sl">словенский</option>
<option name="ka">грузинский</option>
<option name="sw">суахили</option>
<option name="gu">гуджарати</option>
<option name="su">сунданский</option>
<option name="da">датский</option>
<option name="tg">таджикский</option>
<option name="he">иврит</option>
<option name="th">тайский</option>
<option name="yi">идиш</option>
<option name="tl">тагальский</option>
<option name="id">индонезийский</option>
<option name="ta">тамильский</option>
<option name="ga">ирландский</option>
<option name="tt">татарский</option>
<option name="it">итальянский</option>
<option name="te">телугу</option>
<option name="is">исландский</option>
<option name="tr">турецкий</option>
<option name="es">испанский</option>
<option name="udm">удмуртский</option>
<option name="kk">казахский</option>
<option name="uz">узбекский</option>
<option name="kn">каннада</option>
<option name="uk">украинский</option>
<option name="ca">каталанский</option>
<option name="ur">урду</option>
<option name="ky">киргизский</option>
<option name="fi">финский</option>
<option name="zh">китайский</option>
<option name="fr">французский</option>
<option name="ko">корейский</option>
<option name="hi">хинди</option>
<option name="xh">коса</option>
<option name="hr">хорватский</option>
<option name="km">кхмерский</option>
<option name="cs">чешский</option>
<option name="lo">лаосский</option>
<option name="sv">шведский</option>
<option name="la">латынь</option>
<option name="gd">шотландский</option>
<option name="lv">латышский</option>
<option name="et">эстонский</option>
<option name="lt">литовский</option>
<option name="eo">эсперанто</option>
<option name="lb">люксембургский</option>
<option name="jv">яванский</option>
<option name="mg">малагасийский</option>
<option name="ja">японский</option>
<option name="ms">малайский</option>